<div layout="column" style="height:100%;" flex>
    <md-toolbar scroll style="opacity:0.8; background-color:black">
        <div class="md-toolbar-tools" flex>
            <div layout="row" flex>
                <span style="margin-top:4px;">{{title}}</span>
                <p style="font-size:12px; margin-left:10px;">| Powered by Veriown</p>
            </div>
            <span flex></span>
            <span flex>
              <!-- <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="navbar" style="color:white" flex>
            <md-nav-item md-nav-sref="app.home" style="width:25%">
                <span style="color:white">
                  Home
                </span>
            </md-nav-item>
            <md-nav-item md-nav-sref="app.dashboard">
                <span style="color:white">
                products
              </span>
            </md-nav-item>
            </md-nav-bar> -->
            </span>
        </div>
    </md-toolbar>
    <div ui-view flex></div>
</div>
